
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    transition: all 1s;
}

/* intro */
.intro {
    background-color: black;
    padding-top: 100px;
    padding-bottom: 60px;
    height: auto;
}

.intro h2 {
    color: #ffffff;
    font-size: 50px;
    text-align: center;
}

.intro p {
    margin-top: 20px;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

/* team */
.team {
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0;
}
.team  h2 {
    margin-top: 30px;
    font-size: 30px;
    color: #333;
    text-align: center;
}


.team-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
}

.team-item {
    position: relative;
    width: 350px;
    text-align: center;
    transition: transform 0.3s ease;
}

.team-item:hover {
    transform: scale(1.05);
}

.team-item img {
    width: 100%;
    height: 320px;
    object-fit: cover;
}

.team-item h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 24px;
}

/* project */
.project {
    background-color: #f4f4f4;
    padding: 50px 20px 70px 20px;
    text-align: center;
}

.project h2 {
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
}

.project p {
    font-size: 18px;
    color: #555;
    max-width: 800px;
    margin: 0 auto 40px;
    line-height: 1.6;
}

.stacklist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.stacklist i {
    font-size: 50px;
    color: #333;
    transition: transform 0.3s ease, color 0.3s ease;
}

.stacklist i:hover {
    transform: translateY(-10px);
    color: #333;
}


@media (max-width: 768px) {

    .intro h2 {
        font-size: 35px;
        
    }
    
    .intro p {
        margin-top: 20px;
        font-size: 18px;
        padding: 0px 30px;
    }

    .team  h2 {
        font-size: 28px;
    }

    .project h2 {
        font-size: 28px;
    }

    .project p {
        font-size: 16px;
    }

    .stacklist i {
        font-size: 40px;
    }
}


@media (max-width: 480px) {

    .intro h2 {
        font-size: 30px;
        
    }
    
    .intro p {
        margin-top: 20px;
        font-size: 16px;
        padding: 0px 10px;
    }

    .team  h2 {
        font-size: 24px;
    }

    .team-item img {
        width: 80%;
        height: 200px;

    }

    .project h2 {
        font-size: 24px;
    }

    .project p {
        font-size: 14px;
    }

    .stacklist i {
        font-size: 35px;
    }

}
